<div id="summernote"><p>Hello Summernote</p></div>

<script>
  $(document).ready(function() {
      $("#summernote").summernote({
        lang: "ja-JP",
        popover: {
          image: [
            ["custom", ["imageAttributes"]],
            ["imagesize", ["imageSize100", "imageSize50", "imageSize25"]],
            ["float", ["floatLeft", "floatRight", "floatNone"]],
            ["remove", ["removeMedia"]]
          ],
        },
        imageAttributes:{
          icon: '<i class="note-icon-pencil"/>',
          removeEmpty:false, // true = remove attributes | false = leave empty if present
          disableUpload: false // true = don't display Upload Options | Display Upload Options
        }
      });
  });
</script>
