<div id="summernote"><p>Hello Summernote</p></div>

<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Modal Header</h4>
      </div>
      <div class="modal-body">
        <form action="/action_page.php">
          <div class="form-group">
            <label for="title">Title</label>
            <input type="text" class="form-control" id="title">
          </div>
          <div class="form-group">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id">
          </div>
          <div class="checkbox">
            <label><input type="checkbox"> Remember me</label>
          </div>
          <button type="button" class="btn btn-default" id="submit">Submit</button>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<script>
  $(document).ready(function() {
      var HelloButton = function (context) {
        var ui = $.summernote.ui;

        // create button
        var button = ui.button({
          contents: '<i class="fa fa-child"/> Hello',
          tooltip: 'hello',
          click: function () {
            // invoke insertText method with 'hello' on editor module.
            $('#myModal').modal('show');
            // var HTMLstring = '<div><p>Hello, world</p><p>Summernote can insert HTML string</p></div>';

            // context.invoke('editor.pasteHTML', 'HTMLstring');
          }
        });

        return button.render();   // return button as jquery object
      }

      $('#submit').on('click', function() {
        var title = $('#title').val();
        var id = $('#id').val();
        var HTMLstring = "<p data-id=" + id + ">"+ title +"</p>";

        $('#summernote').summernote('pasteHTML', HTMLstring);
        $('#myModal').modal('hide');
      });

      $("#summernote").summernote({
        lang: "ja-JP",
        toolbar: [
          // Reference: https://github.com/summernote/summernote/blob/v0.8.18/src/js/base/module/Buttons.js
          // ['tollbar', ['button1', 'button2']]
          ["style", ["style"]],
          ["font", ["bold", "underline", "clear"]],
          ["fontname", ["fontname"]],
          ["color", ["color"]],
          ["para", ["ul", "ol", "paragraph"]],
          ["table", ["table"]],
          ["insert", ["link", "picture", "video"]],
          ["view", ["fullscreen", "codeview", "help"]],
          ['helloButton', ['helloButton']]
        ],
        buttons: {
          helloButton: HelloButton
        },
        popover: {
          image: [
            ["imageAttributes", ["imageAttributes"]],
            ["imagesize", ["imageSize100", "imageSize50", "imageSize25"]],
            ["float", ["floatLeft", "floatRight", "floatNone"]],
            ["remove", ["removeMedia"]]
          ],
          link: [
            ['link', ['linkDialogShow', 'unlink', 'editAdvLink', 'unlink']]
          ],
          table: [
            ['add', ['addRowDown', 'addRowUp', 'addColLeft', 'addColRight']],
            ['delete', ['deleteRow', 'deleteCol', 'deleteTable']],
          ],
          air: [
            ['color', ['color']],
            ['font', ['bold', 'underline', 'clear']],
            ['para', ['ul', 'paragraph']],
            ['table', ['table']],
            ['insert', ['link', 'picture']]
          ]
        },
        imageAttributes:{
          icon: '<i class="note-icon-pencil"/>',
          removeEmpty:false, // true = remove attributes | false = leave empty if present
          disableUpload: false // true = don't display Upload Options | Display Upload Options
        }
      });
  });
</script>
